.post{
    border: 1px solid black;
    margin : 5px;
}
.gray-background{
    background-color: lightgray;
}

.error{
    color : red;
}
.navbar-btn{
    background-color: white;
}

.greeting{
    text-align: center;
}